@import url('//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css');

@font-face {
    font-family: "GregorianFLF";
    src: url('assets/fonts/GregorianFLF.ttf');
    font-display: swap;
}

:root {
    /* Tema padrão */
    --principal: #FF0800;
    --background: #000000;
    --contorno: #151515;
    --cards: #1e1e1c;
    --font: #F5F5F5;
}

::selection {
    background-color: red;
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Hack, monospace;
}

body {
    background-color: var(--background);
    color: var(--font);
    font-size: 17px;
}
